* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #ecf2f8;
}

.container {
    margin: 5% 3%;
    /* display: flex; */
}

.testamonial-1{
    background-color:#7541c8;
    color: #ffffff;
}

.testamonial-2{
    background-color:#48556a;
    color: #ffffff;
}

.testamonial-3{
    background-color: #ffffff;
}

/* IMP */

.testamonial-4{
    background-color: #19212e;
    color: #ffffff;

    border: 0.1px solid red;

    height: 300px;
    width: 700px;
    border-radius: 7px;
}

img {
    border-radius: 50%;
    

    border: 1px solid #7541c8;
    /* margin-top: 20px; */

    float: left;
    left: 10px;
}

.name {
    /* display: inline; */
    margin-left: 100px;
    margin-top: 12px;
}

.verified {
    margin-left: 10px;
}

/* IMP */

.testamonial-5{
    background-color: #ffffff;
} 
